/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, main {
  display: block;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::after, *::before {
  box-sizing: border-box;
}

#panels {
  padding: 30px;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1;
  font-size: 1.6rem;
  font-family: "Source Sans Pro", sans-serif;
  color: #222222;
  background-color: white;
}

a {
  color: #A2B9B2;
  text-decoration: none;
}

.week {
  position: relative;
  margin: 2em 0;
  padding-bottom: 100px;
}

.week::before {
  /* never visible - this is used in js to check the current MQ */
  content: 'mobile';
  display: none;
}

@media only screen and (min-width: 800px) {
  .week {
    width: 90%;
    max-width: 1400px;
    margin: 2em auto;
  }
  .week::after {
    clear: both;
    content: "";
    display: block;
  }
  .week::before {
    content: 'desktop';
  }
}

.week .timeline {
  display: none;
}

@media only screen and (min-width: 800px) {
  .week .timeline {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding-top: 50px;
  }
  .week .timeline li {
    position: relative;
    height: 50px;
  }
  .week .timeline li::after {
    /* this is used to create the table horizontal lines */
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #EAEAEA;
  }
  .week .timeline li:last-of-type::after {
    display: none;
  }
  .week .timeline li span {
    display: none;
  }
}

@media only screen and (min-width: 1000px) {
  .week .timeline li::after {
    width: calc(100% - 60px);
    left: 60px;
  }
  .week .timeline li span {
    display: inline-block;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .week .timeline li:nth-of-type(2n) span {
    display: none;
  }
}

.week .events {
  position: relative;
  z-index: 1;
}

.week .events .events-group {
  margin-bottom: 30px;
}

.week .events .top-info {
  width: 100%;
  padding: 0 5%;
}

.week .events .top-info > span {
  display: inline-block;
  line-height: 1.2;
  margin-bottom: 10px;
  font-weight: bold;
}

.week .events .events-group > ul {
  position: relative;
  padding: 0 5%;
  /* force its children to stay on one line */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

.week .events .events-group > ul::after {
  /* never visible - used to add a right padding to .events-group > ul */
  display: inline-block;
  content: '-';
  width: 1px;
  height: 100%;
  opacity: 0;
  color: transparent;
}

.week .events .single-event {
  /* force them to stay on one line */
  -ms-flex-negative: 0;
      flex-shrink: 0;
  float: left;
  height: 150px;
  width: 70%;
  max-width: 300px;
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.2);
  margin-right: 20px;
  -webkit-transition: opacity .2s, background .2s;
  transition: opacity .2s, background .2s;
}

.week .events .single-event:last-of-type {
  margin-right: 5%;
}

.week .events .single-event a {
  display: block;
  height: 100%;
  padding: .8em;
}

@media only screen and (min-width: 550px) {
  .week .events .single-event {
    width: 40%;
  }
}

@media only screen and (min-width: 800px) {
  .week .events {
    float: left;
    width: 100%;
  }
  .week .events .events-group {
    width: 20%;
    float: left;
    border: 1px solid #EAEAEA;
    /* reset style */
    margin-bottom: 0;
  }
  .week .events .events-group:not(:first-of-type) {
    border-left-width: 0;
  }
  .week .events .top-info {
    /* vertically center its content */
    display: table;
    height: 50px;
    border-bottom: 1px solid #EAEAEA;
    /* reset style */
    padding: 0;
  }
  .week .events .top-info > span {
    /* vertically center inside its parent */
    display: table-cell;
    vertical-align: middle;
    padding: 0 .5em;
    text-align: center;
    /* reset style */
    font-weight: normal;
    margin-bottom: 0;
  }
  .week .events .events-group > ul {
    height: 950px;
    /* reset style */
    display: block;
    overflow: visible;
    padding: 0;
  }
  .week .events .events-group > ul::after {
    clear: both;
    content: "";
    display: block;
  }
  .week .events .events-group > ul::after {
    /* reset style */
    display: none;
  }
  .week .events .single-event {
    position: absolute;
    z-index: 3;
    /* top position and height will be set using js */
    width: calc(100% + 2px);
    left: -1px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), inset 0 -3px 0 rgba(0, 0, 0, 0.2);
    /* reset style */
    -ms-flex-negative: 1;
        flex-shrink: 1;
    height: auto;
    max-width: none;
    margin-right: 0;
  }
  .week .events .single-event a {
    padding: 1.2em;
  }
  .week .events .single-event:last-of-type {
    /* reset style */
    margin-right: 0;
  }

@media only screen and (min-width: 1000px) {
  .week .events {
    /* 60px is the .timeline element width */
    width: calc(100% - 60px);
    margin-left: 60px;
  }
}

@media only screen and (min-width: 800px) {
  .week .event-name {
    font-size: 2rem;
  }
}

.week .event-date {
  /* they are not included in the the HTML but added using JavScript */
  font-size: 1.4rem;
  opacity: .7;
  line-height: 1.2;
  margin-bottom: .2em;
}

.week .single-event[data-event="event-1"],
.week [data-event="event-1"] .header-bg {
  /* this is used to set a background color for the event and the modal window */
  background: #577F92;
}

.week .single-event[data-event="event-1"]:hover {
  background: #618da1;
}

/* murda on the beat so its not nice */
#logo {
        
        height: 35px;
    }
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }

    .dropdown-menu {
  min-width: 200px;
    }
    .dropdown-menu.columns-2 {
        min-width: 400px;
    }
    .dropdown-menu.columns-3 {
        min-width: 600px;
    }
    .dropdown-menu li a {
        padding: 5px 15px;
        font-weight: 300;
    }
    .multi-column-dropdown {
    list-style: none;
    margin: 0px;
    padding: 0px;
    }
    .multi-column-dropdown li a {
        display: block;
        clear: both;
        line-height: 1.428571429;
        color: #333;
        white-space: normal;
    }
    .multi-column-dropdown li a:hover {
        text-decoration: none;
        color: #262626;
        background-color: #999;
    }

    .single-dropdown {
      list-style: none;
      margin: 0px;
      padding: 0px;
    }

    .single-dropdown .divider {
      width: 200px;
    }

    .single-dropdown li a {
      display: block;
      clear: both;
      width: 200px;
      line-height: 1.428571429;
      color: #333;
      white-space: normal;
  }
    .single-dropdown li a:hover {
        text-decoration: none;
        color: #262626;
        background-color: #999;
    }
    
    @media (max-width: 767px) {
        .dropdown-menu.multi-column {
            min-width: 240px !important;
            overflow-x: hidden;

        }
    }

    /* Code for searching courses */

    .search-table{
      padding: 10%;
      margin-top: -6%;
  }
  .search-box{
      background: #c1c1c1;
      border: 1px solid #ababab;
      padding: 3%;
  }
  .search-box input:focus{
      box-shadow:none;
      border:2px solid #eeeeee;
  }
  .search-list{
      background: #fff;
      border: 1px solid #ababab;
      border-top: none;
  }
  .search-list h3{
      background: #eee;
      padding: 3%;
      margin-bottom: 0%;
  }



.week .event-name,
.week .event-date {
  display: block;
  color: white;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
